<mat-drawer-container class="main-content" [hasBackdrop]="false">
  <mat-drawer-content>
    <!-- <button (click)="drawer.toggle()"><mat-icon class="toggler">reorder</mat-icon></button> -->
 <router-outlet></router-outlet>


  </mat-drawer-content>

  <mat-drawer #drawer  mode="side" opened class="drawer">
    <img id="logo" src="../../assets/logo.jfif" alt="">

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Work Certification <mat-icon class="work_icon">text_snippet</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLink="/employee/work"> <button mat-button style="margin: 10px;">Send Request</button> </a>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Inernship Certification <mat-icon class="intern_icon">text_snippet</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
         <a routerLink="/employee/internship"> <button mat-button style="margin: 10px;">Send Request</button></a>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="bottom_nav">
      <img src="../../assets/user.jpg" alt="" class="user">
      <span>Fedi Hamdi</span>
      <button><mat-icon class="logout">exit_to_app</mat-icon></button>
    </div>

  </mat-drawer>

</mat-drawer-container>
