<mat-drawer-container class="main-content" [hasBackdrop]="false">
  <mat-drawer-content>
    <!-- <button (click)="drawer.toggle()"><mat-icon class="toggler">reorder</mat-icon></button> -->
 <router-outlet></router-outlet>


  </mat-drawer-content>

  <mat-drawer #drawer  mode="side" opened class="drawer">
    <img id="logo" src="../../assets/logo.jfif" alt="">

    <mat-accordion>
      <mat-expansion-panel hideToggle routerLinkActive="active">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Documents Requests <mat-icon class="work_icon">text_snippet</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLink="/admin/requests"> <button mat-button style="margin: 10px;">See All</button> </a>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle routerLinkActive="active">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Users <mat-icon class="intern_icon">supervised_user_circle</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
         <a routerLink="/admin/users"> <button mat-button style="margin: 10px;">See All</button></a>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle routerLinkActive="active">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Suppliers <mat-icon class="intern_icon" style="color: green;">local_shipping</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
         <a routerLink="/admin/suppliers"> <button mat-button style="margin: 10px;">See All</button></a>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle routerLinkActive="active">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contracts <mat-icon class="intern_icon" style="color: orangered;">bookmark</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
         <a routerLink="/admin/contracts"> <button mat-button style="margin: 10px;">See All</button></a>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle routerLinkActive="active">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Invoices <mat-icon class="intern_icon" style="color: rgb(32, 44, 212);">receipt</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
         <a routerLink="/admin/invoices"> <button mat-button style="margin: 10px;">See All</button></a>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="bottom_nav">
      <img src="../../../assets/avatar.png" alt="" class="user">
      <span>{{ firstName }} {{lastName}}</span>
      <button (click)="logout()"><mat-icon class="logout">exit_to_app</mat-icon></button>
    </div>

  </mat-drawer>

</mat-drawer-container>
