<p>ID : {{data.id}} </p>

<form [formGroup]="form" (submit)="onSubmit()">

  <div class="row">
    <mat-form-field appearance="fill" class="col">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    
    <mat-form-field appearance="fill" class="col">
      <mat-label>Payment Status</mat-label>
      <mat-select formControlName="payment_status">
        <mat-option value="paid">Paid</mat-option>
        <mat-option value="not_paid">Not Paid</mat-option>
        <mat-option value="paid_by_split">Paid by Split</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
      <mat-label>Payment Methode</mat-label>
      <mat-select formControlName="payment_method">
        <mat-option value="cash">Cash</mat-option>
        <mat-option value="cheque">Cheque</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
      <mat-label>Payment Amount(TND)</mat-label>
      <input matInput formControlName="amount">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col">
      <mat-label>Amount Exluding Taxes</mat-label>
      <input matInput formControlName="Amount_excluding_taxes">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="submit">Submit</button>
</form>
