<div class="form">
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('email')?.errors?.required">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="form.get('password')?.errors?.required">
        Please enter password
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>

  </form>
</div>
